
<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<body></body>
	<h2>Logueate</h2>

<body class="container-fluid" id="gtco-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6" id="contact">
				<form action="/users/login" method="POST">
				<input type="number" name="docNum" class="form-control" placeholder="Numero de DNI">
				<input type="password" name="password" class="form-control" placeholder="Contraseña">
				<button class='navbar-toggler'type="submit">Iniciar sesion</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>